@import "tailwindcss";

:root {
  --background: #eaeded; /* Amazon standard grey background */
  --foreground: #0f1111; /* Amazon standard text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Amazon Clone Colors */
  --color-amazon-blue: #131921;
  --color-amazon-blue-light: #232f3e;
  --color-amazon-yellow: #febd69;
  --color-amazon-orange: #f08804;
  --color-amazon-link: #007185;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Utilities */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
